:root {
	--colorPrimario: #364152;
	--colorPrimarioOscuro: #313c48;
	--colorSecundario: #3d8533;
	--colorInput:#E0E0E0;
	--colorSecundarioOscuro:#2b6024;
  }
  
  .colorSecundario{
	background-color: var(--colorSecundario);
  }
  
  .colorPrimario{
	background-color: var(--colorPrimario);
  }

* {
		margin: 0;
		padding: 0;
}

@font-face {
	font-family: "Roboto-Regular.ttf";
	font-weight: normal;
	src: url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  }
  

#accordian {
		font-family: "Roboto-Regular.ttf";
		width: 300px;
		height: 101vh;
		margin: 0px;
		margin-top: 40px;
		color: white;
		position: inherit;
		background: var(--colorSecundario);
		box-shadow: rgba(0, 0, 0, 0.352) 5px 5px 5px;
}


.iconoMenu{
	width: 10px;
}



#accordian h3{
	background: var(--colorSecundarioOscuro);
	transition: background-color .5s;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#accordian h3:hover{
	background: var(--colorSecundarioOscuro);
}

.frameVentana{
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: right;
	background-color: var(--colorPrimario);
	-webkit-app-region:drag;
  }
  
  .botonesFrame{
	display: flex;
	flex-direction: row;
	padding: 12px;
  }


#accordian h3 a {
	padding: 10px;
	font-size: 15px;
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#accordian h3 a img {
	width: 35px;
	margin-right: 10px;
}

.arrow img{
	width: 20px;
}
/* 
.iconoEmpresa a img {
	width:100px;
} */

#accordian h3:hover {
		text-shadow: #fff;
}

i {
		margin-right: 10px;
}

#accordian li {
		list-style-type: none;
}


#accordian ul ul li a,
#accordian h4 {
		color: white;
		text-decoration: none;
		font-size: 14px;
		line-height: 27px;
		display: block;
		padding: 5px 15px;
		transition: all 0.15s;
		position: relative;
		text-align: left;
		background-color: #214a1c;
}

#accordian ul ul li a:hover {
		background: #003545;
		border-left: 5px solid lightgreen;
}

#accordian ul ul {
		display: none;
}


#accordian ul ul ul {
		/* margin-left: 15px; */
		/* border-left: 1px dotted rgba(0, 0, 0, 0.5); */
		background-color: #73b8cb;
}

#accordian a:not(:only-child):after {
		content: "\f104";
		font-family: fontawesome;
		position: absolute;
		right: 10px;
		top: 0;
		font-size: 14px;
}

#accordian .active>a:not(:only-child):after {
		content: "\f107";
}

