:root {
  --colorPrimario: #364152;
  --colorPrimarioOscuro: #313c48;
  --colorSecundario: #3d8533;
	--colorInput:#E0E0E0;
	--colorSecundarioOscuro:#2b6024;
  --colorFondoDashboard:#EEF2F4;
  --colorBlanco:#F9FAFB;
  --colorTexto:#3a3f46;
  --colorAmarillo:#E79410;
  --colorRojo:#E21C1C;
}

.colorFondoDashboard{
  background-color: var(--colorFondoDashboard);
}
.colorSecundario{
  background-color: var(--colorSecundario);
}

.colorPrimario{
  background-color: var(--colorPrimario);
}

.colorAmarillo{
  background-color: var(--colorAmarillo);
}

.colorRojo{
  background-color: var(--colorRojo);
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Roboto-Regular.ttf";
  font-weight: bolder;
}

@font-face {
  font-family: "Roboto-Regular.ttf";
  src: url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

.contenidoLogin {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.ladoIzquierdoLogin {
  width: 35%;
  height: 100%;
}

.ladoDerechoLogin {
  width: 65%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--colorPrimario);
}

.ladoDerechoLogin h1, .ladoDerechoLogin h4 {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.cajaInput label{
  font-size: 14px;
}

.cajaInput{
  margin: 0px 10px 10px 0px;
}

.cajaInput input{
  font-family: "Roboto-Regular.ttf";
  font-weight: bolder;
  background-color: var(--colorInput);
}

.cajaInput input:focus{
  outline: none;
}

.estiloInputLogin{
  border: 0px;
  margin-left: 10px;
  padding: 2px;
  font-size: 14px;
  width: 250px;
}



.imagenInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--colorInput);
  width: max-content;
  padding: 7px;
  border-radius: 5px;
  margin-top: 7px;
}

.imagenInput img{
  width: 20px;
}

.imgLogin {
  width: 100%;
  height: 100%;
}

.cajaBotonesInput{
  display: flex;
  flex-direction: column;
}

.boton{
  width: 250px;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  border: 0px;
  font-family: "Roboto-Regular.ttf";
  font-size: 13px;
  font-weight: bolder;
  color: #fff;
}

.cajaMenu{
  background-color: #798378;
}

.cajaDashboard{
  /* margin-left: 300px; */
  margin-top: 40px;
  width: 100%;
  /* overflow-y: scroll; */
}

.cuerpoPantalla{
 display: flex;
 flex-direction: row;
 overflow: hidden;
}

.imagenDashboard{
  height: 101vh;
  width: 100%;
}

.contenedorDashboard{
  background-color: var(--colorBlanco);
  margin: 15px;
  padding: 15px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 10px;
  width: 95%;
}

.contenedorDashboard h2{
  font-weight: bold;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
 display: flex; 
 flex-direction: column;
}

.space-around{
  justify-content: space-around;
}

.botonesDashboard{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}

.estiloTabla{
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.estiloTabla thead{
  display: table;
  width:  calc(100% - 17px);
}

.estiloTabla tbody{
  display: block;
  max-height: 350px;
  overflow-y: scroll;
}

.estiloTabla td, th{
  text-align:left;
  padding: 4px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.estiloTabla tr{
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.estiloTabla th{
  border-bottom: rgb(193, 193, 193) 2px solid;
}


.accionesBoton img{
  width: 100%;
}

.accionesBoton {
  width: 35px;
  height: 35px;
  border-radius: 999px;
  padding: 6px;
  border: none;
  margin-right: 10px;
}

/* Modal */
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  padding: 1%;
  padding-bottom: 5%;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
}

/* Lista de AutoCompletado */
.autocomplete {
  position: relative;
}

.items-autocompletado {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  width: max-content;
}

.items-autocompletado div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  width: 100%;
}

/*when hovering an item:*/
.items-autocompletado div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autompletado-activo {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
  width: max-content;
}