<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="style/style.css" />
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/xlsx.full.min.js"></script>
<script type="text/javascript" src="scripts/unpkxlsx.full.min.js"></script>
<script src="scripts/html2pdf.bundle.min.js"></script>
<div class="contenedorDashboard">
  <h3>Estado de Cuenta Clientes</h3>
</div>
<div class="contenedorDashboard flexRow">
  <div class="flexColumn" style="margin-right: 300px">
    <!-- <h2>Estado de Cuenta</h2> -->
    <div
      class="flexRow"
      style="width: 600px; justify-content: space-between; margin: 10px 0px"
    >
      <div class="flexRow">
        <h4 style="margin-right: 5px">Nombre del Cliente:</h4>
        <p id="nombreCliente">
          <!-- <strong> Nombre del Proveedor: </strong> Distribuidora Fernandez -->
        </p>
      </div>
      <div class="flexRow">
        <p id="ultimaActualizacion">
          <!-- <strong> Ultima Actualizacion: </strong> 12/02/02 -->
        </p>
      </div>
    </div>
    <div class="flexRow" style="width: 600px; justify-content: space-between">
      <div class="flexRow">
        <h4 style="margin-right: 5px">Referencia:</h4>
        <p id="referenciaCliente">
          <!-- <strong> Numero del Proveedor: </strong> 9876-7823 -->
        </p>
      </div>
      <div class="flexRow">
        <h4 style="margin-right: 5px">Saldo Actual</h4>
        <p id="saldoActual"></p>
      </div>
    </div>
  </div>
  <div
    class="flexRow"
    style="justify-content: right; width: 500px; align-items: center"
  >
    <div class="flexRow">
      <div class="cajaInput">
        <label for="fechaInicial">Fecha Inicio</label>
        <div class="imagenInput">
          <img src="icons/pencil.png" alt="" />
          <input
            type="date"
            class="estiloInputLogin"
            name="fechaInicial"
            id="fechaInicial"
            style="width: 13vh"
            tabindex="4"
          />
        </div>
      </div>
      <div class="cajaInput">
        <label for="proveedor_nombre">Fecha Final</label>
        <div class="imagenInput">
          <img src="icons/pencil.png" alt="" />
          <input
            type="date"
            class="estiloInputLogin"
            name="fechaFinal"
            id="fechaFinal"
            style="width: 13vh"
            tabindex="4"
            onchange="visualizarDocumento()"
          />
        </div>
      </div>
    </div>
    <button
      onclick="location.href='#modal_nueva_aportacion'; event.preventDefault()"
      tabindex="-1"
      id="btnNuevoProducto"
      class="boton colorSecundario"
    >
      NUEVA APORTACION
    </button>
  </div>
</div>
<div class="contenedorDashboard">
  <table class="estiloTabla" id="exportable_table">
    <thead>
      <tr>
        <th style="max-width: 5vh; min-width: 5vh; width: 5vh">Nº</th>
        <th style="max-width: 10vh; min-width: 10vh; width: 10vh">Fecha</th>
        <th style="max-width: 35vh; min-width: 35vh; width: 35vh">Detalle</th>
        <th style="max-width: 20vh; min-width: 20vh; width: 20vh">
          Saldo Anterior
        </th>
        <th style="max-width: 20vh; min-width: 20vh; width: 20vh">
          Aportacion
        </th>
        <th style="max-width: 20vh; min-width: 20vh; width: 20vh">
          Saldo Nuevo
        </th>
        <th style="max-width: 20vh; min-width: 20vh; width: 20vh">
          Tipo de Aportacion
        </th>
      </tr>
    </thead>
    <tbody id="tablaEntradas" style="max-height: 65vh; height: 65vh"></tbody>
  </table>
</div>
<div>
  <div class="flexRow" style="justify-content: center">
    <div class="flexRow">
      <button
        style="margin-right: 10px"
        tabindex="6"
        id="btnImprimir"
        class="boton colorPrimario"
        onclick=""
      >
        GENERAR REPORTE
      </button>
      <button
        tabindex="5"
        onclick="ExportExcel('xlsx')"
        class="boton colorSecundario"
      >
        GENERAR HOJA DE EXCEL
      </button>
    </div>
  </div>
</div>
<%- include('./partials/modal_nueva_aportacion.ejs') %> <%-
include('./partials/modal_notificacion_excel.ejs') %>
<script src="scripts/clientes_historial_documento.js"></script>
<%-include('./partials/footer.ejs') %>
