<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="style/style.css" />
<div class="contenedorDashboard" style="width: 90%">
  <h3>Planilla / Ingresar Nuevos Gastos de Caja</h3>
</div>
<div class="contenedorDashboard" style="overflow-x: inherit; width: 90%">
  <form action="" class="flexRow">
    <div class="flexColumn">
      <div class="flexRow" style="align-items: center">
        <div class="cajaInput">
          <label for="gasto_fecha">Fecha</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 15vh"
              type="date"
              name="gasto_fecha"
              id="gasto_fecha"
              class="estiloInputLogin"
              tabindex="1"
            />
          </div>
        </div>
        <!-- <div class="cajaInput">
          <label for="hastaLaFecha">Hasta la fecha</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 15vh"
              type="date"
              name="hastaLaFecha"
              id="hastaLaFecha"
              class="estiloInputLogin"
              tabindex="2"
            />
          </div>
        </div> -->
        <div class="cajaInput">
          <label for="detalleGasto">Detalle Gasto</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 15vh"
              type="text"
              name="detalleGasto"
              id="detalleGasto"
              class="estiloInputLogin"
              tabindex="3"
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="gastos_cantidad">Cantidad a Gastar:</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 15vh"
              type="text"
              name="gastos_cantidad"
              id="gastos_cantidad"
              class="estiloInputLogin"
              tabindex="4"
              onkeyup="soloNumeros(this)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="botonesDashboard">
      <div class="flexColumn space-around">
        <div class="flexColumn">
          <button
            onclick="limpiarTextos();event.preventDefault()"
            tabindex="-1"
            id="btnAceptar"
            class="boton colorAmarillo"
          >
            LIMPIAR
          </button>
        </div>
        <div class="flexColumn">
          <button
            onclick="validar();event.preventDefault()"
            tabindex="8"
            id="btnAceptar"
            class="boton colorSecundario"
          >
            ACEPTAR
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="contenedorDashboard" style="width: 90%; height: 450px">
  <table class="estiloTabla">
    <thead>
      <tr>
        <th style="min-width: 160px; max-width: 160px; width: 160px">Fecha</th>
        <th style="min-width: 160px; max-width: 160px; width: 160px">
          Detalle
        </th>
        <th style="min-width: 260px; max-width: 260px; width: 360px">
          Cantidad a Gastar
        </th>
        <th style="min-width: 130px; max-width: 130px; width: 130px">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody id="tablaEntradas" style="max-height: 58vh; height: 58vh"></tbody>
  </table>
</div>
<div>
  <div class="flexRow" style="justify-content: space-evenly">
    <div class="flexRow">
      <button
        style="margin-right: 10px"
        tabindex="-1"
        id="btnLimpiar"
        class="boton colorAmarillo"
        onclick="limpiarTextos()"
      >
        CANCELAR
      </button>
      <button
        onclick="nuevoProducto();event.preventDefault()"
        tabindex="-1"
        id="btnAceptar"
        class="boton colorSecundario"
      >
        ACEPTAR Y GUARDAR
      </button>
    </div>
  </div>
</div>
<script src="scripts/gastos_caja.js"></script>
<%- include('./partials/footer.ejs') %>
