<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="style/style.css" />
<div class="contenedorDashboard">
  <h3>Inventario / Entradas de Productos al Inventario</h3>
</div>
<div class="contenedorDashboard" style="overflow-x: inherit">
  <form action="" class="flexRow">
    <div class="flexColumn">
      <div class="flexRow">
        <div class="cajaInput">
          <label for="entrada_id">ID Documento</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13vh"
              type="text"
              name="entrada_id"
              id="entrada_id"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_fecha">Fecha</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13vh"
              type="date"
              name="entrada_fecha"
              id="entrada_fecha"
              class="estiloInputLogin"
              tabindex="-1"
            />
          </div>
        </div>
      </div>
      <div class="flexRow">
        <div class="cajaInput">
          <label for="entrada_lote_producto_fk">ID Producto</label>
          <div class="imagenInput autocomplete">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 4vh"
              type="text"
              name="entrada_lote_producto_fk"
              id="entrada_lote_producto_fk"
              class="estiloInputLogin"
              tabindex="-1"
              onkeyup="soloNumeros(this)"
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_lote_fk">ID Lote</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 4vh"
              type="text"
              name="entrada_lote_fk"
              id="entrada_lote_fk"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_producto_nombre">Nombre del Producto</label>
          <div class="imagenInput autocomplete">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13vh"
              type="text"
              name="entrada_producto_nombre"
              id="entrada_producto_nombre"
              class="estiloInputLogin"
              tabindex="-1"
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_producto_descripcion"
            >Descripcion del Producto</label
          >
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13vh"
              type="text"
              name="entrada_producto_descripcion"
              id="entrada_producto_descripcion"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_lote_presentacion"
            >Presentacion del Producto</label
          >
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 14vh"
              type="text"
              name="entrada_lote_presentacion"
              id="entrada_lote_presentacion"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="flexRow">
        <div class="cajaInput">
          <label for="entrada_stock_actual">Stock Actual</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13vh"
              type="text"
              name="entrada_stock_actual"
              id="entrada_stock_actual"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_valor_unitario_compra"
            >Valor Unitario Compra</label
          >
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13vh"
              type="text"
              name="entrada_valor_unitario_compra"
              id="entrada_valor_unitario_compra"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_valor_unitario_venta"
            >Valor Unitario de Venta</label
          >
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13vh"
              type="text"
              name="entrada_valor_unitario_venta"
              id="entrada_valor_unitario_venta"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_lote_fecha_vencimiento"
            >Fecha de Vencimiento</label
          >
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 14vh"
              type="date"
              name="entrada_lote_fecha_vencimiento"
              id="entrada_lote_fecha_vencimiento"
              class="estiloInputLogin"
              tabindex="-1"
            />
          </div>
        </div>
      </div>
      <div class="flexRow">
        <div class="cajaInput">
          <label for="entrada_proveedor">Proveedor</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              style="width: 13.5vh"
              type="text"
              name="entrada_proveedor"
              id="entrada_proveedor"
              class="estiloInputLogin"
              tabindex="-1"
              readonly
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_cantidad_ingresar">Cantidad a Ingresar</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              onkeyup="soloNumeros(this)"
              style="width: 13vh"
              type="text"
              name="entrada_cantidad_ingresar"
              id="entrada_cantidad_ingresar"
              class="estiloInputLogin"
              tabindex="-1"
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_otros_gastos">Otros Gastos</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <input
              onkeyup="soloNumeros(this)"
              style="width: 14vh"
              type="text"
              name="entrada_otros_gastos"
              id="entrada_otros_gastos"
              class="estiloInputLogin"
              tabindex="-1"
            />
          </div>
        </div>
        <div class="cajaInput">
          <label for="entrada_tipo_pago">Tipo de Pago</label>
          <div class="imagenInput">
            <img src="icons/pencil.png" alt="" />
            <select
              class="estiloInputLogin"
              name="entrada_tipo_pago"
              id="entrada_tipo_pago"
              style="width: 13vh"
              tabindex="-1"
            >
              <option value="-1">Seleccione</option>
              <option value="Contado">Contado</option>
              <option value="Deposito">Deposito</option>
              <option value="Credito">Credito</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="botonesDashboard">
      <div class="flexColumn space-around">
        <div class="flexColumn">
          <button
            onclick="location.href='#modal_nuevo_producto';limpiarIndexacion();entradaIndexNuevoProducto();event.preventDefault()"
            tabindex="-1"
            id="btnNuevoProducto"
            class="boton colorSecundario"
          >
            NUEVO PRODUCTO
          </button>
          <!-- <button
            onclick="location.href='#modal_nuevo_derivado';limpiarIndexacion();entradaIndexNuevoDerivado(); event.preventDefault()"
            tabindex="-1"
            id="btnNuevoDerivado"
            class="boton colorSecundario"
          >
            NUEVO DERIVADO
          </button> -->
          <button
            onclick=" entradaIndexNuevoLote();validarArrastarNuevoLote(); event.preventDefault()"
            tabindex="-1"
            id="btnNuevoDerivado"
            class="boton colorPrimario"
          >
            NUEVO LOTE
          </button>
        </div>
        <div class="flexColumn">
          <button
            onclick="validar();event.preventDefault()"
            tabindex="-1"
            id="btnAceptar"
            class="boton colorSecundario"
            tabindex="-1"
          >
            ACEPTAR
          </button>
          <button
            tabindex="-1"
            id="btnLimpiar"
            class="boton colorAmarillo"
            onclick="limpiarTextos();event.preventDefault();"
          >
            LIMPIAR
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="contenedorDashboard">
  <table class="estiloTabla">
    <thead>
      <tr>
        <th style="min-width: 20px; max-width: 20px; width: 20px">Nº</th>
        <th style="min-width: 80px; max-width: 80px; width: 80px">
          ID Producto
        </th>
        <th style="min-width: 60px; max-width: 60px; width: 60px">ID Lote</th>
        <th style="min-width: 200px; max-width: 200px; width: 200px">
          Producto
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Presentacion
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          V.Unit Compra
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Cant Ingresada
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Stock Antiguo
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Stock Actualizado
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Otros Gastos
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Tipo de Pago
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Sub-Total
        </th>
        <th style="min-width: 120px; max-width: 120px; width: 120px">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody id="tablaEntradas"></tbody>
  </table>
</div>
<div>
  <div class="flexRow" style="justify-content: space-evenly">
    <div class="flexRow">
      <button
        style="margin-right: 10px"
        id="btnLimpiar"
        class="boton colorAmarillo"
        tabindex="-1"
        onclick="location.reload();limpiarTextos()"
      >
        CANCELAR
      </button>
      <button
        onclick="confirmarEntradas();event.preventDefault()"
        id="btnAceptar"
        class="boton colorSecundario"
        tabindex="-1"
      >
        ACEPTAR Y GUARDAR
      </button>
    </div>
  </div>
</div>
<%- include('./partials/modals_inventario_entrada.ejs') %>
<script src="scripts/inventario_entradas.js"></script>
<%-include('./partials/footer.ejs') %>
