<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="style/style.css" />
<div class="contenedorDashboard">
  <h3>Finanzas / Liquidacion</h3>
</div>
<div
  class="contenedorDashboard flexRow"
  style="justify-content: space-between; align-items: center"
>
  <div class="flexRow">
    <div class="flexRow" style="align-items: center">
      <div class="cajaInput">
        <label for="fechaLiquidacion">Fecha de Liquidacion</label>
        <div class="autocomplete imagenInput">
          <img src="icons/pencil.png" alt="" />
          <input
            style="width: 40vh"
            type="date"
            name="fechaLiquidacion"
            id="fechaLiquidacion"
            class="estiloInputLogin"
            tabindex="2"
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <button
      id="${element.cliente_id}"
      onclick="ventasDelDia(); event.preventDefault()"
      class="boton colorSecundario"
      style="margin-right: 20px"
    >
      GENERAR
    </button>
  </div>
</div>
<script src="scripts/liquidacion_diaria_menu.js"></script>
<%-include('./partials/footer.ejs') %>
