<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="style/style.css" />
<div class="contenedorDashboard">
  <h3>Ventas al Credito / Recuperaciones</h3>
</div>
<div
  class="contenedorDashboard flexRow"
  style="justify-content: space-between; align-items: center"
>
  <div class="flexRow">
    <div class="flexRow" style="align-items: center"></div>
  </div>
  <div>
    <button
      id="${element.cliente_id}"
      onclick="location.href='#modal_nueva_aportacion'; event.preventDefault()"
      class="boton colorSecundario"
      style="margin-right: 20px"
    >
      NUEVA RECUPERACION
    </button>
  </div>
</div>
<div class="contenedorDashboard">
  <table class="estiloTabla">
    <thead>
      <tr>
        <th style="max-width: 10vh; min-width: 10vh; width: 10vh">Nº</th>
        <th style="max-width: 10vh; min-width: 10vh; width: 10vh">
          ID Cliente
        </th>
        <th style="max-width: 28vh; min-width: 28vh; width: 28vh">
          Nombre Cliente
        </th>
        <th style="max-width: 18vh; min-width: 18vh; width: 18vh">
          Ultima Actualizacion
        </th>
        <th style="max-width: 28vh; min-width: 28vh; width: 28vh">Estado</th>
        <th style="max-width: 20vh; min-width: 20vh; width: 20vh">Saldo</th>
        <th style="max-width: 30vh; min-width: 30vh; width: 30vh">Acciones</th>
      </tr>
    </thead>
    <tbody id="tablaEntradas" style="max-height: 70vh; height: 70vh"></tbody>
  </table>
</div>
<%- include('./partials/modal_nueva_aportacion.ejs') %>
<script src="scripts/listado_clientes.js"></script>
<%-include('./partials/footer.ejs') %>
