<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="style/sliderMenu.css" />
    <title>Agroinsumos Monge</title>
  </head>
  <body class="cuerpoPantalla colorFondoDashboard">
    <div class="frameVentana">
      <div class="botonesFrame">
        <div>
          <p>Max</p>
        </div>
        <div>
          <p>Min</p>
        </div>
        <div>
          <p>Close</p>
        </div>
      </div>
    </div>
    <div id="accordian">
      <ul>
        <li>
          <h3 style="background-color: #313c48">
            <a tabindex="-1" href="#"
              ><div>
                <img src="icons/empresaIconBlanco.png" alt="icono" />Agroinsumos
                Monge
              </div>
              <div></div
            ></a>
          </h3>
        </li>
        <li>
          <h3 class="iconBoton">
            <a tabindex="-1" href="#"
              ><div
                style="align-items: center; display: flex; flex-direction: row"
              >
                <img src="icons/boxes.png" alt="icono" />Inventario
              </div>
              <img src="icons/next.png" alt="" />
            </a>
          </h3>
          <ul>
            <li>
              <h3>
                <a tabindex="-1" href="#">Entradas</a>
              </h3>
              <ul>
                <li>
                  <a tabindex="-1" href="inventario_entradas.ejs"
                    >Nueva Entrada</a
                  >
                </li>
                <li>
                  <a tabindex="-1" href="historial_entradas.ejs"
                    >Historial de Entradas</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <h3>
                <a tabindex="-1" href="#">Salidas</a>
              </h3>
              <ul>
                <li>
                  <a tabindex="-1" href="inventario_salidas.ejs"
                    >Nueva Salida</a
                  >
                </li>
                <li>
                  <a tabindex="-1" href="historial_entradas.ejs"
                    >Historial de Salidas</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <h3>
                <a tabindex="-1" href="#">Productos</a>
              </h3>
              <ul>
                <li>
                  <a tabindex="-1" href="producto_nuevo.ejs"
                    >Abastecer Inventario</a
                  >
                </li>
                <li>
                  <a tabindex="-1" href="historial_productos.ejs"
                    >Historial de Productos</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="active">
          <h3>
            <a tabindex="-1" href="#"
              ><div
                style="align-items: center; display: flex; flex-direction: row"
              >
                <img src="icons/clients.png" alt="icono" />Clientes
              </div>
              <img src="icons/next.png" alt=""
            /></a>
          </h3>
          <ul>
            <li>
              <a tabindex="-1" href="#">Overdues</a>
              <ul>
                <li><a tabindex="-1" href="#">Today's tasks</a></li>
                <li><a tabindex="-1" href="#">Urgent</a></li>
                <li><a tabindex="-1" href="#">Overdues</a></li>
                <li><a tabindex="-1" href="#">Recurring</a></li>
                <li><a tabindex="-1" href="#">Settings</a></li>
              </ul>
            </li>
            <li><a href="#">Recurring</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
        <li>
          <h3>
            <a tabindex="-1" href="#"
              ><div
                style="align-items: center; display: flex; flex-direction: row"
              >
                <img src="icons/provider.png" alt="icono" />Proveedores
              </div>
              <img src="icons/next.png" alt=""
            /></a>
          </h3>
          <ul>
            <li><a href="proveedores_historial.ejs">Estados de Cuenta</a></li>
            <li><a href="#">Current Week</a></li>
            <li><a href="#">Previous Month</a></li>
            <li><a href="#">Previous Week</a></li>
            <li><a href="#">Next Month</a></li>
            <li><a href="#">Next Week</a></li>
            <li><a href="#">Team Calendar</a></li>
            <li><a href="#">Private Calendar</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
        <li>
          <h3>
            <a tabindex="-1" href="#"
              ><div
                style="align-items: center; display: flex; flex-direction: row"
              >
                <img src="icons/users.png" alt="icono" />Usuarios
              </div>
              <img src="icons/next.png" alt=""
            /></a>
          </h3>
          <ul>
            <li><a href="#">Global favs</a></li>
            <li><a href="#">My favs</a></li>
            <li><a href="#">Team favs</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
      <script src="scripts/index.js"></script>
    </div>
    <div class="cajaDashboard">