<div id="modal_asociar_cliente" class="modal">
  <div class="modal__content">
    <div class="contenedorDashboard">
      <div class="contenedorDashboard">
        <h2>Seleccione el Cliente</h2>
      </div>
      <div class="contenedorDashboard">
        <form action="" class="flexRow">
          <div class="flexColumn">
            <div class="flexRow">
              <div class="cajaInput">
                <label for="lista_clientes">Cliente</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <select
                    class="estiloInputLogin"
                    name="lista_clientes"
                    id="lista_clientes"
                    style="width: 50vh"
                    tabindex="4"
                  >
                    <option value="-1">Ninguno</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="botonesDashboard">
            <div class="flexColumn space-around">
              <div class="flexColumn">
                <button
                  tabindex="-1"
                  id="btnNuevoLote"
                  class="boton colorPrimario modal__close"
                  onclick="location.href= '#modal_nuevo_cliente';event.preventDefault()"
                >
                  REGISTRAR NUEVO CLIENTE
                </button>
                <button
                  tabindex="-1"
                  id="btnLimpiar"
                  class="boton colorSecundario modal__close"
                  onclick="copiarNombreCliente();location.href= '#';event.preventDefault()"
                >
                  ACEPTAR
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="modal_nuevo_cliente" class="modal">
  <div class="modal__content">
    <div class="contenedorDashboard">
      <div class="contenedorDashboard">
        <h2>Registrar un Nuevo Cliente</h2>
      </div>
      <div class="contenedorDashboard">
        <form action="" class="flexRow">
          <div class="flexColumn">
            <div class="flexRow">
              <div class="cajaInput">
                <label for="cliente_nombre">Nombre</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 13vh"
                    type="text"
                    name="cliente_nombre"
                    id="cliente_nombre"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
              <div class="cajaInput">
                <label for="cliente_apellido">Apellido</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 13vh"
                    type="text"
                    name="cliente_apellido"
                    id="cliente_apellido"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
              <div class="cajaInput">
                <label for="cliente_referencia">Referencia</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 13vh"
                    type="text"
                    name="cliente_referencia"
                    id="cliente_referencia"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="botonesDashboard">
            <div class="flexColumn space-around">
              <div class="flexColumn">
                <button
                  tabindex="-1"
                  id="btnNuevoLote"
                  class="boton colorSecundario modal__close"
                  onclick="location.href= '#modal_asociar_cliente';nuevoCliente();event.preventDefault();"
                >
                  GUARDAR
                </button>
                <button
                  tabindex="-1"
                  id="btnLimpiar"
                  class="boton colorAmarillo modal__close"
                  onclick="location.href= '#modal_asociar_cliente';event.preventDefault()"
                >
                  CANCELAR
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="modal_advertencia" class="modal">
  <div class="modal__content" style="width: 30%">
    <div class="contenedorDashboard flexRow">
      <div>
        <h2 style="margin-bottom: 20px">Advertencia</h2>
        <p style="margin-bottom: 20px">
          Has excedido la cantidad que puedes retirar de este producto. Revisa
          el listado de salida e intentalo de nuevo.
        </p>
        <div class="flexRow" style="width: 100%; justify-content: flex-end">
          <button
            style="width: 100px; margin-right: 30px"
            tabindex="-1"
            id="btnLimpiar"
            class="boton colorAmarillo modal__close"
            onclick="location.href= '#';event.preventDefault()"
          >
            ACEPTAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal_lote_vacio" class="modal">
  <div class="modal__content" style="width: 30%">
    <div class="contenedorDashboard flexRow">
      <div>
        <h2 style="margin-bottom: 20px">Advertencia</h2>
        <p style="margin-bottom: 20px">
          se han agotado las existencias de este producto, no puedes retirar mas
          unidades.
        </p>
        <div class="flexRow" style="width: 100%; justify-content: flex-end">
          <button
            style="width: 100px; margin-right: 30px"
            tabindex="-1"
            id="btnLimpiar"
            class="boton colorAmarillo modal__close"
            onclick="location.href= '#';event.preventDefault()"
          >
            ACEPTAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
