<div id="modal_nueva_aportacion" class="modal">
  <div class="modal__content">
    <div class="contenedorDashboard">
      <div class="contenedorDashboard">
        <h2>Ingresar Nueva Recuperacion</h2>
      </div>
      <div class="contenedorDashboard">
        <form action="" class="flexRow">
          <div class="flexColumn">
            <div class="flexRow">
              <div class="cajaInput">
                <label for="fechaActual">Fecha</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 10vh"
                    type="date"
                    name="fechaActual"
                    id="fechaActual"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
              <div class="cajaInput">
                <label for="detalles_aportacion">Nombre del Cliente</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 10vh"
                    type="text"
                    name="detalles_aportacion"
                    id="detalles_aportacion"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
              <div class="cajaInput">
                <label for="forma_pago">Tipo de Pago</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <select
                    class="estiloInputLogin"
                    name="forma_pago"
                    id="forma_pago"
                    style="width: 10vh"
                  >
                    <option value="-1">Seleccione</option>
                    <option value="Contado">Contado</option>
                    <option value="Deposito">Deposito</option>
                  </select>
                </div>
              </div>
              <div class="cajaInput">
                <label for="cantidad_aportacion">Cantidad a Recuperar</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 15vh"
                    type="text"
                    name="cantidad_aportacion"
                    id="cantidad_aportacion"
                    class="estiloInputLogin"
                    tabindex="-1"
                    onkeyup="soloNumeros(this)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="botonesDashboard">
            <div class="flexColumn space-around">
              <div class="flexColumn">
                <button
                  tabindex="-1"
                  id="btnNuevoLote"
                  class="boton colorSecundario modal__close"
                  onclick="validarNuevaAportacion();event.preventDefault()"
                >
                  REGISTRAR NUEVA RECUPERACION
                </button>
                <button
                  tabindex="-1"
                  id="btnLimpiar"
                  class="boton colorRojo modal__close"
                  onclick="location.href= '#';event.preventDefault()"
                >
                  CANCELAR
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
