<div id="modal_nuevo_proveedor" class="modal">
  <div class="modal__content">
    <div class="contenedorDashboard">
      <div class="contenedorDashboard">
        <h2>Ingresar Nuevo Proveedor</h2>
      </div>
      <div class="contenedorDashboard">
        <form action="" class="flexRow">
          <div class="flexColumn">
            <div class="flexRow">
              <div class="cajaInput">
                <label for="nuevo_proveedor_nombre">Nombre del Proveedor</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 15vh"
                    type="text"
                    name="nuevo_proveedor_nombre"
                    id="nuevo_proveedor_nombre"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
              <div class="cajaInput">
                <label for="nuevo_proveedor_numero">Numero del Proveedor</label>
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 15vh"
                    type="text"
                    name="nuevo_proveedor_numero"
                    id="nuevo_proveedor_numero"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="botonesDashboard">
            <div class="flexColumn space-around">
              <div class="flexColumn">
                <button
                  tabindex="-1"
                  id="btnNuevoLote"
                  class="boton colorSecundario modal__close"
                  onclick="nuevoProveedor() ;location.href= '#modal_nuevo_producto';event.preventDefault()"
                >
                  REGISTRAR NUEVO PROVEEDOR
                </button>
                <button
                  tabindex="-1"
                  id="btnLimpiar"
                  class="boton colorRojo modal__close"
                  onclick="location.href= '#modal_nuevo_producto';event.preventDefault()"
                >
                  CANCELAR
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="modal_modificar_proveedor" class="modal">
  <div class="modal__content">
    <div class="contenedorDashboard">
      <div class="contenedorDashboard">
        <h2>Modificar Proveedor</h2>
      </div>
      <div class="contenedorDashboard">
        <form action="" class="flexRow">
          <div class="flexColumn">
            <div class="flexRow">
              <div class="cajaInput">
                <label for="modificar_proveedor_nombre"
                  >Nombre del Proveedor</label
                >
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 15vh"
                    type="text"
                    name="modificar_proveedor_nombre"
                    id="modificar_proveedor_nombre"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
              <div class="cajaInput">
                <label for="modificar_proveedor_numero"
                  >Numero del Proveedor</label
                >
                <div class="imagenInput">
                  <img src="icons/pencil.png" alt="" />
                  <input
                    style="width: 15vh"
                    type="text"
                    name="modificar_proveedor_numero"
                    id="modificar_proveedor_numero"
                    class="estiloInputLogin"
                    tabindex="-1"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="botonesDashboard">
            <div class="flexColumn space-around">
              <div class="flexColumn">
                <button
                  tabindex="-1"
                  id="btnNuevoLote"
                  class="boton colorSecundario modal__close"
                  onclick=";location.href= '#';confirmarModificarProveedor();event.preventDefault()"
                >
                  MODIFICAR PROVEEDOR
                </button>
                <button
                  tabindex="-1"
                  id="btnLimpiar"
                  class="boton colorRojo modal__close"
                  onclick=";location.href= '#'"
                >
                  CANCELAR
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
