<div id="modal_excel" class="modal" onclick="location.href ='#'">
  <div class="modal__content" style="width: 600px">
    <div class="contenedorDashboard" style="padding: 20px">
      <div class="flexRow">
        <img
          style="margin-right: 20px"
          width="50px"
          src="icons/green_cheek.png"
          alt=""
        />
        <h3>Archivo Excel creado exitosamente, revisa el escritorio.</h3>
      </div>
      <!-- <button style="width: 70px" class="boton colorSecundario">Aceptar</button> -->
    </div>
  </div>
</div>
